[Service]
Description=Phonebot gateway
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=5
User=solin020
EnvironmentFile=/home/solin020/phonebot/exllama_env.env
WorkingDirectory=/home/solin020/phonebot
ExecStart=/home/solin020/phonebot/exllama/exllama_env/bin/python /home/solin020/phonebot/exllama/webui/app.py --host 127.0.0.1:5006 -d /home/solin020/phonebot/models/llama-2-7b-chat	

[Install]
WantedBy=multi-user.target
