[Service]
Description=Phonebot gateway
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=5
User=solin020
WorkingDirectory=/home/solin020/phonebot
ExecStart=/home/solin020/phonebot/tts_env/bin/python -m uvicorn --host 127.0.0.1 --port 5001 tts:app

[Install]
WantedBy=multi-user.target
